
.search-button{
    background-color: #2A2A2A ;
    color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 8px 20px 8px;
}

.search-button:hover{
    background-color: green ;
    border: 1px solid green;
}

.search-input{
    flex: 1;
    margin-left: 1;
    border: none;
    outline: none;
}

.search-input:focus{
    outline: none;
}
